<tr>
    <td>NAME:{{game.name}}</td>
    <td>{{game.year_published}}</td>
    <td>{{game.min_players}}</td>
    <td>{{game.max_players}}</td>
    <td>{{game.description}}</td>
    <td>{{game.price}}</td>
    <td>{{game.designers}}</td>
</tr>